<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.hhu.aiams.mapper.UserMapper">

	<insert id="addnew"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO t_user (
			username, password,
			age, phone,
			email
		) VALUES (
			#{username}, #{password},
			#{age}, #{phone},
			#{email}
		)
	</insert>
	
	<select id="findByUsername" 
		resultType="cn.hhu.aiams.entity.User">
		SELECT * FROM t_user WHERE username=#{username}
	</select>

</mapper>






